<h1>物件一覧</h1>
<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>
  <% @estates.each do |estate| %>
  <tr>
    <td><%= estate.property_name %></td>
    <td><%= number_with_delimiter(estate.rent) %>円</td>
    <td><%= estate.address %></td>
    <td><%= estate.property_age %>年</td>
    <td><%= estate.content %></td>
    <td><%= link_to "詳細", estate_path(estate.id) %></td>
    <td><%= link_to "編集", edit_estate_path(estate.id) %></td>
    <td><%= link_to "削除", estate_path(estate.id), method: :delete,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
</table>
<% end %>

<p><%= link_to '物件を登録する', new_estate_path %></p>