<h1>物件一覧</h1>
<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>
  <% @estates.each do |estate| %>
  <tr>
    <td><%= estate.property_name %></td>
    <td><%= estate.rent %></td>
    <td><%= estate.address %></td>
    <td><%= estate.property_age %></td>
    <td><%= estate.content %></td>
    <td><%= link_to "詳細", estate_path(estate.id) %></td>
    <td><%= link_to "編集", edit_estate_path(estate.id) %></td>
    <td>削除</td>
    <% @stations.each do |station| %>
    <td><%= station.route_name %></td>
    <td><%= station.station_name %></td>
    <td><%= station.walking_minutes %></td>
    <% end %>
  </tr>
</table>
<% end %>

<p><%= link_to '物件を登録する', new_estate_path %></p>