<h1>物件情報</h1>
<dl>
  <dt>物件名</dt>
  <dd><%= @estate.property_name %></dd>
  <dt>賃料</dt>
  <dd><%= number_with_delimiter(@estate.rent) %></dd>
  <dt>住所</dt>
  <dd><%= @estate.address %></dd>
  <dt>築年数</dt>
  <dd><%= @estate.property_age %></dd>
  <dt>備考</dt>
  <dd><%= @estate.content %></dd>
</dl>

<% @estate.stations.each_with_index do |item, i| %>
  <h2>最寄駅<%= "#{i+1}" %></h2>
  <dl>
    <dt>路線名</dt>
    <dd><%= item.route_name %></dd>
    <dt>駅名</dt>
    <dd><%= item.station_name %></dd>
    <dt>徒歩分数</dt>
    <dd>徒歩<%= item.walking_minutes %>分</dd>
  </dl>
<% end %>

<div class="actions">
<%= link_to '編集', edit_estate_path %>
<%= link_to '戻る', estates_path %>
</div>